@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-bg: #D4D4D4;
  --blue-bg: #2D3142;
  --orange-bg: #EF8354;
  --blue-text: #2D3142;
  --input-bg: #F6F6F6;
}

@layer components {
  .linha {
    @apply w-6/12 bg-[#D4D4D4] h-[2px] rounded;
  }

  .div-perguntas {
    @apply flex items-center gap-5 mt-5 mb-5;
  }

  .text-perguntas {
    @apply text-2xl text-[--gray-bg];
  }

  .input-bg {
    @apply flex gap-5 bg-[--input-bg] w-[400px] h-10 pl-4 rounded-lg;
  }

  .perguntas-text {
    @apply text-[--gray-bg] text-3xl font-bold;
  }
}

html {
  @apply scroll-smooth;
}
